@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    border: 0;
    margin: 0;
}


body {
    background-image: url('../../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 80%;
}

h1 {
    font-size: 2rem;
}

p{
    color: rgba(255,255,255,0.5);
}

input {
    background-color: transparent;
    color: #1cb495;
    border: 1px solid #1cb495;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: rgba(255,255,255,0.5);
}

body::before {
    content: '';
    position: absolute;
    z-index: -1;
    /* left: 0;
    top: 0; */
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}
.sign-up-button {
    background-color: #1cb495;
    color: #fff;
    width: 100%;
}

.input-area, .sign-up-button {
    padding: 10px;
    border-radius: 0.375rem;
    margin-top: 20px;
}

.para {
    margin-bottom: 20px;
    margin-top: 20px;
}

@media (min-width: 480px) {
    body {
        flex-direction: column;
    }

    section {
        width: 90%;
    }

    input {
        width: 220px;
    }

    .sign-up-button {
        margin-left: 10px;
        width: 75px;
    }
}