@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(32, 30, 35);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

main {
    height: calc(100vh - 70px);
    display: flex;
}

.youtube-logo {
    width: 50%;
}

.side-bar {
    height: 100%;
    width: 17%;
    overflow-y: hidden;
}

.side-bar-collapsed {
    width: 200px;
}

.left {
    display: flex;
    align-items: center;
    width: 12%;
}

.left #menu {
    display: flex;
    padding: 0 7px;
    cursor: pointer;
    width: 40px;
    padding: 0 16px;
}

.material-icons {
    text-align: center;
    color: white;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.nav-link {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 12px 25px;
    border-radius: 15px;
}

.nav-link span {
    margin-left: 20px;
    color: white;
    font-size: 1.05rem;
}

.nav-link:hover {
    background: #303030;
    cursor: pointer;
}

.active {
    background: #303030;
}

hr {
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}

.content {
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow-y: scroll;
}

.videos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    border: 2px solid white;
}

.video {
    margin-bottom: 30px;
    width: 32%;
    border: 2px solid white;
}

.thumbnail {
    width: 100%;
    height: 170px;
}

.thumbnail img {
    object-fit: cover;
    height: 94%;
    width: 100%;
}

.author img {
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.details {
    display: flex;
}

.title {
    display: flex;
    flex-direction: column;
}

.title h3 {
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
}

.title a,
span {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 12px;
}

.header-form {
    display: flex;
    flex: 0 1 680px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-right: 20px;
}

.search {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.search input {
    width: 100%;
    background-color: transparent;
    font-size: 1.25rem;
    border: 2px solid rgb(55, 55, 55);
    border-radius: 40px 0 0 40px;
    padding: 4px 0;
    padding-left: 15px;
    height: 40px;
}

.header-search-btn {
    background-color: transparent;
    border-radius: 0 50% 50% 0;
    height: 40px;
    width: 60px;
    padding: 0 15px;
    border: 1px solid rgb(55, 55, 55);
}

@media (max-width: 768px) {
    .side-bar {
        display: none;
    }

    .video {
        width: 48.5%;
    }
}

@media (max-width: 350px) {
    .search {
        display: none;
    }
}